@use '../../styles/variable' as *;

.gallery {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 50px;
  padding: 50px;
  background: $background-light;
  border-radius: 10px;
}


//Responsive mobile
@media (max-width: 768px) {
  .gallery {
    grid-template-columns: 1fr;
    gap: 22px;
    background-color: $white;
    padding: 0;
  }
}