* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Montserrat', sans-serif;
}

header {
    margin-bottom: 50px;
}

footer {
    margin-top: 50px;
}

.container {
  max-width: 1240px;
  margin: 0 auto;
}

//Responsive mobile

@media (max-width: 768px) {
  header {
    margin-bottom: 27px;
  }
  .container {
    width: calc(100% - 40px);
  }
  footer {
    margin-top: 27px;
  }
}