@use '../../styles/variable' as *;

.header {
  margin-top: 45px;
   width: 100%;

  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 68px;
  }

  nav {
    display: flex;
    gap: 57px;

    a {
      color: $black;
      text-decoration: none;
      font-size: 24px;
      font-weight: 500;

      &.active {
        text-decoration: underline;
      }
    }
  }
}

//Responsive mobile

@media (max-width: 768px) {
    .header {
      margin-top: 20px;
      .container {
        img {
          width: 145px;
        }
      }
      nav {
        gap: 26px;

        a {
          font-size: 12px;
        }
      }
    }
}