.tags {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-top: 20px;

    .tag {
        min-width: 115px;
        height: 25px;
        padding: 0 15px;
        display: flex;
        justify-content: center;
        align-items: center;
        background: #FF6060;
        border-radius: 10px;
        color: #fff;
        font-size: 14px;
        font-weight: 700;
    }
}

//Responsive mobile 

@media (max-width: 768px) {
    .tags {
        margin-bottom: 20px;
        .tag {
            min-width: 84px;
            font-size: 10px;
            border-radius: 10px;
        }
    }
}
